<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-crypto-broker-heading"
        data-cy="CryptoBrokerCreateUpdateHeading"
        jhiTranslate="kNetworkAdminApp.cryptoBroker.home.createOrEditLabel"
      >
        Create or edit a Crypto Broker
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="kNetworkAdminApp.cryptoBroker.id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let nameRef = editForm.get('name')!;
        <div class="mb-3">
          <label class="form-label" for="field_name" jhiTranslate="kNetworkAdminApp.cryptoBroker.name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          @if (nameRef.invalid && (nameRef.dirty || nameRef.touched)) {
            <div>
              @if (editForm.get('name')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_nameEn" jhiTranslate="kNetworkAdminApp.cryptoBroker.nameEn">Name En</label>
          <input type="text" class="form-control" name="nameEn" id="field_nameEn" data-cy="nameEn" formControlName="nameEn" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_logo" jhiTranslate="kNetworkAdminApp.cryptoBroker.logo">Logo</label>
          <input type="text" class="form-control" name="logo" id="field_logo" data-cy="logo" formControlName="logo" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_url" jhiTranslate="kNetworkAdminApp.cryptoBroker.url">Url</label>
          <input type="text" class="form-control" name="url" id="field_url" data-cy="url" formControlName="url" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_description" jhiTranslate="kNetworkAdminApp.cryptoBroker.description">Description</label>
          <textarea
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          ></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_descriptionEn" jhiTranslate="kNetworkAdminApp.cryptoBroker.descriptionEn"
            >Description En</label
          >
          <textarea
            class="form-control"
            name="descriptionEn"
            id="field_descriptionEn"
            data-cy="descriptionEn"
            formControlName="descriptionEn"
          ></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_rating" jhiTranslate="kNetworkAdminApp.cryptoBroker.rating">Rating</label>
          <input type="number" class="form-control" name="rating" id="field_rating" data-cy="rating" formControlName="rating" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_regulation" jhiTranslate="kNetworkAdminApp.cryptoBroker.regulation">Regulation</label>
          <input
            type="text"
            class="form-control"
            name="regulation"
            id="field_regulation"
            data-cy="regulation"
            formControlName="regulation"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_minDeposit" jhiTranslate="kNetworkAdminApp.cryptoBroker.minDeposit">Min Deposit</label>
          <input
            type="text"
            class="form-control"
            name="minDeposit"
            id="field_minDeposit"
            data-cy="minDeposit"
            formControlName="minDeposit"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_tradingFees" jhiTranslate="kNetworkAdminApp.cryptoBroker.tradingFees">Trading Fees</label>
          <input
            type="text"
            class="form-control"
            name="tradingFees"
            id="field_tradingFees"
            data-cy="tradingFees"
            formControlName="tradingFees"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_founded" jhiTranslate="kNetworkAdminApp.cryptoBroker.founded">Founded</label>
          <input type="text" class="form-control" name="founded" id="field_founded" data-cy="founded" formControlName="founded" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_headquarters" jhiTranslate="kNetworkAdminApp.cryptoBroker.headquarters">Headquarters</label>
          <input
            type="text"
            class="form-control"
            name="headquarters"
            id="field_headquarters"
            data-cy="headquarters"
            formControlName="headquarters"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_headquartersEn" jhiTranslate="kNetworkAdminApp.cryptoBroker.headquartersEn"
            >Headquarters En</label
          >
          <input
            type="text"
            class="form-control"
            name="headquartersEn"
            id="field_headquartersEn"
            data-cy="headquartersEn"
            formControlName="headquartersEn"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_tradingVolume" jhiTranslate="kNetworkAdminApp.cryptoBroker.tradingVolume"
            >Trading Volume</label
          >
          <input
            type="text"
            class="form-control"
            name="tradingVolume"
            id="field_tradingVolume"
            data-cy="tradingVolume"
            formControlName="tradingVolume"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_mobileApp" jhiTranslate="kNetworkAdminApp.cryptoBroker.mobileApp">Mobile App</label>
          <input type="checkbox" class="form-check" name="mobileApp" id="field_mobileApp" data-cy="mobileApp" formControlName="mobileApp" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_apiSupport" jhiTranslate="kNetworkAdminApp.cryptoBroker.apiSupport">Api Support</label>
          <input
            type="checkbox"
            class="form-check"
            name="apiSupport"
            id="field_apiSupport"
            data-cy="apiSupport"
            formControlName="apiSupport"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_detailedDescription" jhiTranslate="kNetworkAdminApp.cryptoBroker.detailedDescription"
            >Detailed Description</label
          >
          <textarea
            class="form-control"
            name="detailedDescription"
            id="field_detailedDescription"
            data-cy="detailedDescription"
            formControlName="detailedDescription"
          ></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_detailedDescriptionEn" jhiTranslate="kNetworkAdminApp.cryptoBroker.detailedDescriptionEn"
            >Detailed Description En</label
          >
          <textarea
            class="form-control"
            name="detailedDescriptionEn"
            id="field_detailedDescriptionEn"
            data-cy="detailedDescriptionEn"
            formControlName="detailedDescriptionEn"
          ></textarea>
        </div>

        <div class="mb-3">
          <label for="field_cryptoFeatures" jhiTranslate="kNetworkAdminApp.cryptoBroker.cryptoFeatures">Crypto Features</label>
          <select
            class="form-control"
            id="field_cryptoFeatures"
            data-cy="cryptoFeatures"
            multiple
            name="cryptoFeatures"
            formControlName="cryptoFeatures"
            [compareWith]="compareCryptoFeature"
          >
            @for (cryptoFeatureOption of cryptoFeaturesSharedCollection; track $index) {
              <option [ngValue]="cryptoFeatureOption">{{ cryptoFeatureOption.value }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label for="field_supportedCoins" jhiTranslate="kNetworkAdminApp.cryptoBroker.supportedCoins">Supported Coins</label>
          <select
            class="form-control"
            id="field_supportedCoins"
            data-cy="supportedCoins"
            multiple
            name="supportedCoins"
            formControlName="supportedCoins"
            [compareWith]="compareCoin"
          >
            @for (coinOption of coinsSharedCollection; track $index) {
              <option [ngValue]="coinOption">{{ coinOption.value }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label for="field_cryptoPros" jhiTranslate="kNetworkAdminApp.cryptoBroker.cryptoPros">Crypto Pros</label>
          <select
            class="form-control"
            id="field_cryptoPros"
            data-cy="cryptoPros"
            multiple
            name="cryptoPros"
            formControlName="cryptoPros"
            [compareWith]="compareCryptoPro"
          >
            @for (cryptoProOption of cryptoProsSharedCollection; track $index) {
              <option [ngValue]="cryptoProOption">{{ cryptoProOption.value }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label for="field_cryptoCons" jhiTranslate="kNetworkAdminApp.cryptoBroker.cryptoCons">Crypto Cons</label>
          <select
            class="form-control"
            id="field_cryptoCons"
            data-cy="cryptoCons"
            multiple
            name="cryptoCons"
            formControlName="cryptoCons"
            [compareWith]="compareCryptoCon"
          >
            @for (cryptoConOption of cryptoConsSharedCollection; track $index) {
              <option [ngValue]="cryptoConOption">{{ cryptoConOption.value }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label for="field_securityFeatures" jhiTranslate="kNetworkAdminApp.cryptoBroker.securityFeatures">Security Features</label>
          <select
            class="form-control"
            id="field_securityFeatures"
            data-cy="securityFeatures"
            multiple
            name="securityFeatures"
            formControlName="securityFeatures"
            [compareWith]="compareSecurityFeature"
          >
            @for (securityFeatureOption of securityFeaturesSharedCollection; track $index) {
              <option [ngValue]="securityFeatureOption">{{ securityFeatureOption.value }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label for="field_paymentMethods" jhiTranslate="kNetworkAdminApp.cryptoBroker.paymentMethods">Payment Methods</label>
          <select
            class="form-control"
            id="field_paymentMethods"
            data-cy="paymentMethods"
            multiple
            name="paymentMethods"
            formControlName="paymentMethods"
            [compareWith]="compareCryptoPaymentMethod"
          >
            @for (cryptoPaymentMethodOption of cryptoPaymentMethodsSharedCollection; track $index) {
              <option [ngValue]="cryptoPaymentMethodOption">{{ cryptoPaymentMethodOption.value }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label for="field_customerSupports" jhiTranslate="kNetworkAdminApp.cryptoBroker.customerSupports">Customer Supports</label>
          <select
            class="form-control"
            id="field_customerSupports"
            data-cy="customerSupports"
            multiple
            name="customerSupports"
            formControlName="customerSupports"
            [compareWith]="compareCustomerSupport"
          >
            @for (customerSupportOption of customerSupportsSharedCollection; track $index) {
              <option [ngValue]="customerSupportOption">{{ customerSupportOption.value }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
