<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (con(); as conRef) {
      <div>
        <h2 data-cy="conDetailsHeading"><span jhiTranslate="kNetworkAdminApp.con.detail.title">Con</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ conRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="kNetworkAdminApp.con.value">Value</span></dt>
          <dd>
            <span>{{ conRef.value }}</span>
          </dd>
          <dt><span jhiTranslate="kNetworkAdminApp.con.valueEn">Value En</span></dt>
          <dd>
            <span>{{ conRef.valueEn }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/con', conRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
