<div>
  <h2 id="page-heading" data-cy="BrokerHeading">
    <span jhiTranslate="forexBeApp.broker.home.title">Brokers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="forexBeApp.broker.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-broker"
        [routerLink]="['/broker/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="forexBeApp.broker.home.createLabel">Create a new Broker</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (brokers().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="forexBeApp.broker.home.notFound">No Brokers found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="forexBeApp.broker.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="logo">
              <div class="d-flex">
                <span jhiTranslate="forexBeApp.broker.logo">Logo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="url">
              <div class="d-flex">
                <span jhiTranslate="forexBeApp.broker.url">Url</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="forexBeApp.broker.description">Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="rating">
              <div class="d-flex">
                <span jhiTranslate="forexBeApp.broker.rating">Rating</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="minDeposit">
              <div class="d-flex">
                <span jhiTranslate="forexBeApp.broker.minDeposit">Min Deposit</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="spreads">
              <div class="d-flex">
                <span jhiTranslate="forexBeApp.broker.spreads">Spreads</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="leverage">
              <div class="d-flex">
                <span jhiTranslate="forexBeApp.broker.leverage">Leverage</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="founded">
              <div class="d-flex">
                <span jhiTranslate="forexBeApp.broker.founded">Founded</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="headquarters">
              <div class="d-flex">
                <span jhiTranslate="forexBeApp.broker.headquarters">Headquarters</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (broker of brokers(); track trackId(broker)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/broker', broker.id, 'view']">{{ broker.id }}</a>
              </td>
              <td>{{ broker.name }}</td>
              <td>{{ broker.logo }}</td>
              <td>{{ broker.url }}</td>
              <td>{{ broker.description }}</td>
              <td>{{ broker.rating }}</td>
              <td>{{ broker.minDeposit }}</td>
              <td>{{ broker.spreads }}</td>
              <td>{{ broker.leverage }}</td>
              <td>{{ broker.founded }}</td>
              <td>{{ broker.headquarters }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/broker', broker.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/broker', broker.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(broker)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
